/* Modal */
.ReactModalPortal > div{
    opacity: 0;
  }
  
  .ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
  }
  
  .modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
  }
  
  .ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
  }
  
  .ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
  }
  
  .modal {
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 620px;
    max-width: 500px;
    outline: none;
    padding: 10px;
  }
  
  /* FABS */
  .fab {
    border-radius: 100%;
    bottom: 25px;
    font-size: 30px;
    padding: 25px;
    position: fixed;
    right: 25px;
  }
  
  .fab-danger {
    border-radius: 100%;
    bottom: 25px;
    font-size: 22px;
    position: fixed;
    left: 25px;
    width: 70px;
    height: 70px;
  }

  .text-navbar{
    font-size: 2.3ch;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .navbar-nav li.nav-item {
    position: relative;
  }
  
  .navbar-nav li.nav-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .navbar-nav li.nav-item:hover::after {
    transform: scaleX(1);
  }
  .img-store{
    border: 0;
    max-width: 100%;
    max-height: 700px;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle;
  }
  .closs {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .closs .row > div {
    position: relative;
    max-width: 420px;
    margin: 10px;
    text-align: center;
  }
  
   .text-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
  }
  .text-h2{
    width: 70%;
    position: relative;
    left: 20%;
    align-items: end;
  }
  
  .img-new{
  max-width: 100%;
    height:500px;
    
  }
  .img-accesorios{
     width: 560px;
     height: 600px;
  }
  .img-listBuys{
    width: 100px;
    height: 150px;
  }
/* Estilos CSS para el componente Pantalones */
.product-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .product-item {
    flex: 0 0 calc(33.33% - 10px); /* Establece el ancho de cada producto, descontando 10px para el margen entre elementos */
    margin: 5px; /* Agrega un margen de 5px entre los productos */
  }
  
  /* Estilos adicionales para los elementos del producto */
  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .img-new {
    width: 100%; /* Establece el ancho de la imagen al 100% del contenedor */
    height: auto; /* Ajusta la altura de la imagen automáticamente para mantener la proporción */
    max-width: 600px; /* Establece el ancho máximo de la imagen */
    max-height: 900px; /* Establece la altura máxima de la imagen */
  }
 /* Estilos CSS para el componente Pantalones */
.col-lg-8 {
    margin: auto;
    padding: 70px;
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    height: 100%; /* Asegura que el div ocupe toda la altura disponible */
  }
  
  .padding-title {
    text-align: center; /* Centra el texto horizontalmente dentro del div */
  }
  /* Estilos para el contenedor principal de ListaCarrito */
.carrito-overlay {
  width: 30%;
  height: 100%;
  padding: 20px;
  background-color:#323232;
  z-index: 10000; 
}

/* Estilos para el contenido de ListaCarrito */
.carrito-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: flex-end; /* Cambiar "end" por "flex-end" */
  align-items: center;
  transform: translateX(100%); /* Estado inicial fuera de la pantalla */
  transition: transform 0.5s ease;
}

/* Aplicar transformación cuando está visible */
.carrito-container.active {
  transform: translateX(0%);
}
.eliminar-btn {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  fill: #ffffff; /* Color rojo */
  width: 16px; /* Ancho del ícono */
  height: 16px; /* Altura del ícono */
  transition: all 0.3s ease; /* Agregamos una transición suave para hacerlo más agradable */
}

.eliminar-btn:hover {
  fill: #ca0707; /* Color rojo al pasar el mouse */
  transform: scale(1.5); /* Aumentar el tamaño al pasar el mouse */
}
.carrito-vacio {
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0; 
}
.lista-carrito-derecha{
  display: flex; 
  flex-direction: row;
  justify-content: center;
   align-items: flex-end; 
   gap: 10px;
   position: absolute; 
   bottom: 20px; 
   right: 20px; 
}
